* {
    margin: 0;
    padding: 0;
}

.margem {
    width: 80%;
    margin: 50px auto;
}

.margem fieldset {
    width: 250px;
    overflow: hidden;
    overflow-x: scroll;
}

.margem .elementos {
    width: 300%;
}

form input[type=radio] {
    display: none;
}

label img {
    width: 250px;
    float: left;
    cursor: pointer;
}

form input[type=radio]:checked + label img {
    border: 8px solid green;
    width: 240px;
}

/*
#rosa:checked + label img {
    border: 8px solid green;
    width: 240px;
}

#azul:checked + label img {
    border: 8px solid green;
    width: 240px;
}*/